@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.filter-button {
  background-color: transparent !important;
  border-color: #44a15b !important;
  color: #44a15b !important;
  border-radius: 8px !important;
}

.add-new-button {
  background-color: #44a15b !important;
  color: white !important;
  border-color: #44a15b !important;
  border-radius: 8px !important;
}

.c-t-b {
  background-color: transparent !important;
  border: none !important;
}
.c-t-b:hover {
  border: none !important;
}
.custom-table-header .ant-table-thead > tr > th {
  background-color: #f1f3f2 !important;
  color: #516155 !important;
  font-size: 14px !important;
  line-height: 21px !important;
}

.custom-table-header {
  border: 0.1px solid rgb(209, 205, 205) !important ;
  border-radius: 8px !important;
}

.scroll::-webkit-scrollbar {
  width: 2px;
}

.scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-pagination {
  margin: 0;
}

.ant-pagination-item {
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}

.ant-pagination-item-active {
  border-color: rgb(26, 149, 26) !important;
  color: green !important;
}

.ant-pagination-item-active a {
  color: green !important;
}

.ant-pagination-item:hover {
  border-color: green !important;
  color: #667369 !important;
  background-color: transparent !important;
}

.ant-steps-item-active .ant-steps-item-icon {
  background-color: green !important;
  border-color: green !important;
  color: green;
  content: none !important;
}
